{% extends "base.html" %}

{% block title %}Logowanie{% endblock %}

{% block content %}
<div class="container">
    <h2>Logowanie</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Nazwa użytkownika:</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="id_password">Hasło:</label>
            {{ form.password }}
        </div>
        <div class="form-group">
            <button type="submit">Zaloguj się</button>
        </div>
    </form>
    <a class="link" href="{% url 'register' %}">Nie masz konta? Zarejestruj się</a>
</div>
{% endblock %}